In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../../src')
import funciones as f
import soporte_prep as sp

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

In [2]:
df_poblacional = pd.read_csv("C:\\Users\\DELL\\Downloads\\Población en República Dominicana.csv", sep=';')

In [3]:
df_poblacional.head()

,Entity DCID,Entity properties isoCode,Entity properties name,Variable DCID,Variable observation date,Variable observation metadata importName,Variable observation metadata provenanceUrl,Variable observation metadata scalingFactor,Variable observation metadata unit,Variable observation metadata unitDisplayName,Variable observation value,Variable properties name
0,country/DOM,DO,Dominican Republic,Count_Person,1960,WorldDevelopmentIndicators,https://datacatalog.worldbank.org/dataset/worl...,NaN,NaN,NaN,3298021,Total Population
1,country/DOM,DO,Dominican Republic,Count_Person,1961,WorldDevelopmentIndicators,https://datacatalog.worldbank.org/dataset/worl...,NaN,NaN,NaN,3408415,Total Population
2,country/DOM,DO,Dominican Republic,Count_Person,1962,WorldDevelopmentIndicators,https://datacatalog.worldbank.org/dataset/worl...,NaN,NaN,NaN,3521164,Total Population
3,country/DOM,DO,Dominican Republic,Count_Person,1963,WorldDevelopmentIndicators,https://datacatalog.worldbank.org/dataset/worl...,NaN,NaN,NaN,3635798,Total Population
4,country/DOM,DO,Dominican Republic,Count_Person,1964,WorldDevelopmentIndicators,https://datacatalog.worldbank.org/dataset/worl...,NaN,NaN,NaN,3752313,Total Population

In [4]:
df_poblacional = df_poblacional[['Variable observation date', 'Variable observation value']]
df_poblacional.columns = ['anio', 'Población']

In [5]:
df_poblacional.head()

   anio  Población
0  1960    3298021
1  1961    3408415
2  1962    3521164
3  1963    3635798
4  1964    3752313

In [7]:
df_poblacional.to_csv('../../Datos/Datos_poblacion.csv')