In [30]:
# Importamos las librerías que necesitamos

# Librerías de extracción de datos
# -----------------------------------------------------------------------

%load_ext autoreload
%autoreload 2

# Visualizaciones
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
import plotly_express as px

import sys
sys.path.append('../..')
from src import funciones as f
from src import soporte_prep as sp

import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
df_2024 = pd.read_excel("C:\\Users\\DELL\\Downloads\\ParqueVehicular2024\\Parque Vehicular 2024.xlsx", sheet_name='2.3.1', skiprows=11, index_col=0)

In [32]:
df_2024

,Provincia,Tipo de Vehículo,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Total,Total %
NaN,NaN,Automóviles,Autobuses,Jeep,Carga,Motocicletas,Volteo,Máquinas Pesadas,Otros,NaN,NaN
NaN,Azua,7627,1388,5150,6642,54179,338,132,143,75599.00,1.22
NaN,Bahoruco,2354,405,1397,1137,12046,98,22,23,17482.00,0.28
NaN,Barahona,6542,1092,5331,3974,44962,274,78,210,62463.00,1.01
NaN,Dajabón,2534,221,2518,2360,29377,117,134,58,37319.00,0.60
NaN,Distrito Nacional,458494,52861,249581,219411,808646,9960,12533,12436,1823922.00,29.45
NaN,Duarte,23843,2161,14455,13408,128358,525,1413,308,184471.00,2.98
NaN,El Seibo,2394,420,2337,2123,23195,131,106,45,30751.00,0.50
NaN,Elías Piña,1219,169,754,520,5087,41,29,5,7824.00,0.13
NaN,Espaillat,20507,1920,17294,13524,84947,606,279,279,139356.00,2.25
NaN,Hato Mayor,2598,492,2466,2227,24809,126,186,59,32963.00,0.53
NaN,Hermanas Mirabal,8123,840,6814,5019,48616,210,250,89,69961.00,1.13
NaN,Independencia,1086,231,733,624,4038,47,18,12,6789.00,0.11
NaN,La Altagracia,23622,5860,22811,14859,132432,1021,588,595,201788.00,3.26
NaN,La Romana,19086,3492,13899,8665,139687,456,482,301,186068.00,3.00
NaN,La Vega,32300,2930,28126,22121,248451,1229,1526,579,337262.00,5.44
NaN,María Trinidad Sánchez,10385,869,5763,5759,74197,419,691,99,98182.00,1.59
NaN,Monseñor Nouel,11263,1498,9467,6078,88598,464,292,238,117898.00,1.90
NaN,Monte Cristi,5509,419,4955,5106,127344,215,744,169,144461.00,2.33
NaN,Monte Plata,4715,719,3305,2790,32387,151,95,53,44215.00,0.71
NaN,Pedernales,641,97,511,625,3939,46,13,19,5891.00,0.10
NaN,Peravia,9934,1768,8500,6800,72054,478,227,339,100100.00,1.62
NaN,Puerto Plata,21723,3102,23685,12503,99557,785,362,465,162182.00,2.62
NaN,Samaná,4022,902,4335,2546,37321,408,98,51,49683.00,0.80
NaN,San Cristóbal,35432,4590,23836,16549,197433,1022,471,948,280281.00,4.53
NaN,San José de Ocoa,1690,219,1937,1752,15895,98,36,26,21653.00,0.35
NaN,San Juan de la Maguana,12508,1869,7400,6189,56043,453,514,99,85075.00,1.37
NaN,San Pedro de Macorís,17209,2660,12599,7153,112871,304,340,461,153597.00,2.48
NaN,Sánchez Ramírez,9828,897,5751,5368,45823,217,559,111,68554.00,1.11
NaN,Santiago,117359,8995,89912,52077,228875,2938,2032,2129,504317.00,8.14
NaN,Santiago Rodríguez,2235,312,2972,3241,16099,117,79,253,25308.00,0.41
NaN,Santo Domingo,270470,34561,148935,88738,449207,3358,3586,4526,1003381.00,16.20
NaN,Valverde,10618,1084,8642,8494,85494,328,409,187,115256.00,1.86
NaN,Total,1157870,139043,736171,548382,3531967,26980,28324,25315,6194052.00,100.00
NaN,Notas: Cifras generadas al 13 de enero de 2025.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Fuente: Gerencia de Estudios Económicos y Trib...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_2024.reset_index(drop=True, inplace=True)

df_2024.columns = [
    "Provincia", 
    "Automóviles", 
    "Autobuses", 
    "Jeep", 
    "Carga", 
    "Motocicletas", 
    "Volteo", 
    "Máquinas Pesadas", 
    "Otros", 
    "Total", 
    "Total %"
]

In [34]:
df_2024 = df_2024.iloc[1:34]
df_2024.reset_index(drop=True, inplace=True)
df_2024.columns = df_2024.columns.str.lower()

In [36]:
df_2024['total %'] = df_2024['total %'].round(2)

In [37]:
df_2024

,provincia,automóviles,autobuses,jeep,carga,motocicletas,volteo,máquinas pesadas,otros,total,total %
0,Azua,7627,1388,5150,6642,54179,338,132,143,75599.00,1.22
1,Bahoruco,2354,405,1397,1137,12046,98,22,23,17482.00,0.28
2,Barahona,6542,1092,5331,3974,44962,274,78,210,62463.00,1.01
3,Dajabón,2534,221,2518,2360,29377,117,134,58,37319.00,0.60
4,Distrito Nacional,458494,52861,249581,219411,808646,9960,12533,12436,1823922.00,29.45
5,Duarte,23843,2161,14455,13408,128358,525,1413,308,184471.00,2.98
6,El Seibo,2394,420,2337,2123,23195,131,106,45,30751.00,0.50
7,Elías Piña,1219,169,754,520,5087,41,29,5,7824.00,0.13
8,Espaillat,20507,1920,17294,13524,84947,606,279,279,139356.00,2.25
9,Hato Mayor,2598,492,2466,2227,24809,126,186,59,32963.00,0.53
10,Hermanas Mirabal,8123,840,6814,5019,48616,210,250,89,69961.00,1.13
11,Independencia,1086,231,733,624,4038,47,18,12,6789.00,0.11
12,La Altagracia,23622,5860,22811,14859,132432,1021,588,595,201788.00,3.26
13,La Romana,19086,3492,13899,8665,139687,456,482,301,186068.00,3.00
14,La Vega,32300,2930,28126,22121,248451,1229,1526,579,337262.00,5.44
15,María Trinidad Sánchez,10385,869,5763,5759,74197,419,691,99,98182.00,1.59
16,Monseñor Nouel,11263,1498,9467,6078,88598,464,292,238,117898.00,1.90
17,Monte Cristi,5509,419,4955,5106,127344,215,744,169,144461.00,2.33
18,Monte Plata,4715,719,3305,2790,32387,151,95,53,44215.00,0.71
19,Pedernales,641,97,511,625,3939,46,13,19,5891.00,0.10
20,Peravia,9934,1768,8500,6800,72054,478,227,339,100100.00,1.62
21,Puerto Plata,21723,3102,23685,12503,99557,785,362,465,162182.00,2.62
22,Samaná,4022,902,4335,2546,37321,408,98,51,49683.00,0.80
23,San Cristóbal,35432,4590,23836,16549,197433,1022,471,948,280281.00,4.53
24,San José de Ocoa,1690,219,1937,1752,15895,98,36,26,21653.00,0.35
25,San Juan de la Maguana,12508,1869,7400,6189,56043,453,514,99,85075.00,1.37
26,San Pedro de Macorís,17209,2660,12599,7153,112871,304,340,461,153597.00,2.48
27,Sánchez Ramírez,9828,897,5751,5368,45823,217,559,111,68554.00,1.11
28,Santiago,117359,8995,89912,52077,228875,2938,2032,2129,504317.00,8.14
29,Santiago Rodríguez,2235,312,2972,3241,16099,117,79,253,25308.00,0.41
30,Santo Domingo,270470,34561,148935,88738,449207,3358,3586,4526,1003381.00,16.20
31,Valverde,10618,1084,8642,8494,85494,328,409,187,115256.00,1.86
32,Total,1157870,139043,736171,548382,3531967,26980,28324,25315,6194052.00,100.00

In [38]:
df_genero = pd.read_excel("C:\\Users\\DELL\\Downloads\\ParqueVehicular2024\\Parque Vehicular 2024.xlsx", sheet_name='2.6', skiprows=7, index_col=0)
df_genero

,Unnamed: 1,Provincia,Género,Unnamed: 4,Total,Unnamed: 6,Unnamed: 7,Unnamed: 8,Provincia.1,Género.1,Unnamed: 11,Total.1
NaN,NaN,NaN,Femenino,Masculino,NaN,NaN,NaN,NaN,NaN,Femenino,Masculino,NaN
NaN,NaN,Azua,12340,55688,68028.00,NaN,NaN,NaN,Azua,0.18,0.82,1.00
NaN,NaN,Bahoruco,3303,12531,15834.00,NaN,NaN,NaN,Bahoruco,0.21,0.79,1.00
NaN,NaN,Barahona,10907,41383,52290.00,NaN,NaN,NaN,Barahona,0.21,0.79,1.00
NaN,NaN,Dajabón,6327,17379,23706.00,NaN,NaN,NaN,Dajabón,0.27,0.73,1.00
NaN,NaN,Distrito Nacional,257251.20,925498.50,1182749.70,NaN,NaN,NaN,Distrito Nacional,0.22,0.78,1.00
NaN,NaN,Duarte,34019,105379,139398.00,NaN,NaN,NaN,Duarte,0.24,0.76,1.00
NaN,NaN,El Seibo,7146,19047,26193.00,NaN,NaN,NaN,El Seibo,0.27,0.73,1.00
NaN,NaN,Elías Piña,1557,6125,7682.00,NaN,NaN,NaN,Elías Piña,0.20,0.80,1.00
NaN,NaN,Espaillat,26313,94136,120449.00,NaN,NaN,NaN,Espaillat,0.22,0.78,1.00
NaN,NaN,Hato Mayor,8157,20298,28455.00,NaN,NaN,NaN,Hato Mayor,0.29,0.71,1.00
NaN,NaN,Hermanas Mirabal,11896,43715,55611.00,NaN,NaN,NaN,Hermanas Mirabal,0.21,0.79,1.00
NaN,NaN,Independencia,1605,5062,6667.00,NaN,NaN,NaN,Independencia,0.24,0.76,1.00
NaN,NaN,La Altagracia,41625,106350,147975.00,NaN,NaN,NaN,La Altagracia,0.28,0.72,1.00
NaN,NaN,La Romana,26029,82749,108778.00,NaN,NaN,NaN,La Romana,0.24,0.76,1.00
NaN,NaN,La Vega,70979.76,188748.39,259728.14,NaN,NaN,NaN,La Vega,0.27,0.73,1.00
NaN,NaN,María Trinidad Sánchez,20493,60420,80913.00,NaN,NaN,NaN,María Trinidad Sánchez,0.25,0.75,1.00
NaN,NaN,Monseñor Nouel,24158,66286,90444.00,NaN,NaN,NaN,Monseñor Nouel,0.27,0.73,1.00
NaN,NaN,Monte Cristi,10808,30832,41640.00,NaN,NaN,NaN,Monte Cristi,0.26,0.74,1.00
NaN,NaN,Monte Plata,12649,38138,50787.00,NaN,NaN,NaN,Monte Plata,0.25,0.75,1.00
NaN,NaN,Pedernales,1337,4446,5783.00,NaN,NaN,NaN,Pedernales,0.23,0.77,1.00
NaN,NaN,Peravia,22968.21,60008.79,82977.00,NaN,NaN,NaN,Peravia,0.28,0.72,1.00
NaN,NaN,Puerto Plata,33397,113230,146627.00,NaN,NaN,NaN,Puerto Plata,0.23,0.77,1.00
NaN,NaN,Samaná,12747,34045,46792.00,NaN,NaN,NaN,Samaná,0.27,0.73,1.00
NaN,NaN,San Cristóbal,34444,150382,184826.00,NaN,NaN,NaN,San Cristóbal,0.19,0.81,1.00
NaN,NaN,San José de Ocoa,3797,16179,19976.00,NaN,NaN,NaN,San José de Ocoa,0.19,0.81,1.00
NaN,NaN,San Juan de la Maguana,18683,60928,79611.00,NaN,NaN,NaN,San Juan de la Maguana,0.23,0.77,1.00
NaN,NaN,San Pedro de Macorís,32109,85808,117917.00,NaN,NaN,NaN,San Pedro de Macorís,0.27,0.73,1.00
NaN,NaN,Sánchez Ramírez,16350,46447,62797.00,NaN,NaN,NaN,Sánchez Ramírez,0.26,0.74,1.00
NaN,NaN,Santiago,90996,316425,407421.00,NaN,NaN,NaN,Santiago,0.22,0.78,1.00
NaN,NaN,Santiago Rodríguez,5094,17928,23022.00,NaN,NaN,NaN,Santiago Rodríguez,0.22,0.78,1.00
NaN,NaN,Santo Domingo,180846.21,555947.79,736794.00,NaN,NaN,NaN,Santo Domingo,0.25,0.75,1.00
NaN,NaN,Valverde,16034,61078,77112.00,NaN,NaN,NaN,Valverde,0.21,0.79,1.00
NaN,NaN,Total,1056365.38,3442617.46,4498982.84,NaN,NaN,NaN,Total,0.23,0.77,1.00
NaN,NaN,Notas: Cifras generadas al 13 de enero de 2025.,NaN,NaN,NaN,NaN,NaN,NaN,Notas: Cifras generadas al 13 de enero de 2025.,NaN,NaN,NaN
NaN,NaN,Estos datos corresponden al domicilio del dueñ...,NaN,NaN,NaN,NaN,NaN,NaN,Estos datos corresponden al domicilio del dueñ...,NaN,NaN,NaN
NaN,NaN,Fuente: Gerencia de Estudios Económicos y Trib...,NaN,NaN,NaN,NaN,NaN,NaN,Fuente: Gerencia de Estudios Económicos y Trib...,NaN,NaN,NaN

In [39]:
df_genero.columns

Index(['Unnamed: 1', 'Provincia', 'Género', 'Unnamed: 4', 'Total',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Provincia.1', 'Género.1',
       'Unnamed: 11', 'Total.1'],
      dtype='object')

In [40]:
df_genero = df_genero[['Provincia', 'Género', 'Unnamed: 4', 'Total', 'Género.1', 'Unnamed: 11', 'Total.1']]

In [41]:
df_genero

,Provincia,Género,Unnamed: 4,Total,Género.1,Unnamed: 11,Total.1
NaN,NaN,Femenino,Masculino,NaN,Femenino,Masculino,NaN
NaN,Azua,12340,55688,68028.00,0.18,0.82,1.00
NaN,Bahoruco,3303,12531,15834.00,0.21,0.79,1.00
NaN,Barahona,10907,41383,52290.00,0.21,0.79,1.00
NaN,Dajabón,6327,17379,23706.00,0.27,0.73,1.00
NaN,Distrito Nacional,257251.20,925498.50,1182749.70,0.22,0.78,1.00
NaN,Duarte,34019,105379,139398.00,0.24,0.76,1.00
NaN,El Seibo,7146,19047,26193.00,0.27,0.73,1.00
NaN,Elías Piña,1557,6125,7682.00,0.20,0.80,1.00
NaN,Espaillat,26313,94136,120449.00,0.22,0.78,1.00
NaN,Hato Mayor,8157,20298,28455.00,0.29,0.71,1.00
NaN,Hermanas Mirabal,11896,43715,55611.00,0.21,0.79,1.00
NaN,Independencia,1605,5062,6667.00,0.24,0.76,1.00
NaN,La Altagracia,41625,106350,147975.00,0.28,0.72,1.00
NaN,La Romana,26029,82749,108778.00,0.24,0.76,1.00
NaN,La Vega,70979.76,188748.39,259728.14,0.27,0.73,1.00
NaN,María Trinidad Sánchez,20493,60420,80913.00,0.25,0.75,1.00
NaN,Monseñor Nouel,24158,66286,90444.00,0.27,0.73,1.00
NaN,Monte Cristi,10808,30832,41640.00,0.26,0.74,1.00
NaN,Monte Plata,12649,38138,50787.00,0.25,0.75,1.00
NaN,Pedernales,1337,4446,5783.00,0.23,0.77,1.00
NaN,Peravia,22968.21,60008.79,82977.00,0.28,0.72,1.00
NaN,Puerto Plata,33397,113230,146627.00,0.23,0.77,1.00
NaN,Samaná,12747,34045,46792.00,0.27,0.73,1.00
NaN,San Cristóbal,34444,150382,184826.00,0.19,0.81,1.00
NaN,San José de Ocoa,3797,16179,19976.00,0.19,0.81,1.00
NaN,San Juan de la Maguana,18683,60928,79611.00,0.23,0.77,1.00
NaN,San Pedro de Macorís,32109,85808,117917.00,0.27,0.73,1.00
NaN,Sánchez Ramírez,16350,46447,62797.00,0.26,0.74,1.00
NaN,Santiago,90996,316425,407421.00,0.22,0.78,1.00
NaN,Santiago Rodríguez,5094,17928,23022.00,0.22,0.78,1.00
NaN,Santo Domingo,180846.21,555947.79,736794.00,0.25,0.75,1.00
NaN,Valverde,16034,61078,77112.00,0.21,0.79,1.00
NaN,Total,1056365.38,3442617.46,4498982.84,0.23,0.77,1.00
NaN,Notas: Cifras generadas al 13 de enero de 2025.,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Estos datos corresponden al domicilio del dueñ...,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Fuente: Gerencia de Estudios Económicos y Trib...,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df_genero.columns = ['provincia', 'femenino', 'masculino', 'total', '%_fem', '%_masc', 'total_%']
df_genero = df_genero.iloc[1:33]

In [52]:
df_genero.reset_index(drop=True, inplace=True)
df_genero

,provincia,femenino,masculino,total,%_fem,%_masc,total_%
0,Bahoruco,3303,12531,15834.00,0.21,0.79,1.00
1,Barahona,10907,41383,52290.00,0.21,0.79,1.00
2,Dajabón,6327,17379,23706.00,0.27,0.73,1.00
3,Distrito Nacional,257251.20,925498.50,1182749.70,0.22,0.78,1.00
4,Duarte,34019,105379,139398.00,0.24,0.76,1.00
5,El Seibo,7146,19047,26193.00,0.27,0.73,1.00
6,Elías Piña,1557,6125,7682.00,0.20,0.80,1.00
7,Espaillat,26313,94136,120449.00,0.22,0.78,1.00
8,Hato Mayor,8157,20298,28455.00,0.29,0.71,1.00
9,Hermanas Mirabal,11896,43715,55611.00,0.21,0.79,1.00
10,Independencia,1605,5062,6667.00,0.24,0.76,1.00
11,La Altagracia,41625,106350,147975.00,0.28,0.72,1.00
12,La Romana,26029,82749,108778.00,0.24,0.76,1.00
13,La Vega,70979.76,188748.39,259728.14,0.27,0.73,1.00
14,María Trinidad Sánchez,20493,60420,80913.00,0.25,0.75,1.00
15,Monseñor Nouel,24158,66286,90444.00,0.27,0.73,1.00
16,Monte Cristi,10808,30832,41640.00,0.26,0.74,1.00
17,Monte Plata,12649,38138,50787.00,0.25,0.75,1.00
18,Pedernales,1337,4446,5783.00,0.23,0.77,1.00
19,Peravia,22968.21,60008.79,82977.00,0.28,0.72,1.00
20,Puerto Plata,33397,113230,146627.00,0.23,0.77,1.00
21,Samaná,12747,34045,46792.00,0.27,0.73,1.00
22,San Cristóbal,34444,150382,184826.00,0.19,0.81,1.00
23,San José de Ocoa,3797,16179,19976.00,0.19,0.81,1.00
24,San Juan de la Maguana,18683,60928,79611.00,0.23,0.77,1.00
25,San Pedro de Macorís,32109,85808,117917.00,0.27,0.73,1.00
26,Sánchez Ramírez,16350,46447,62797.00,0.26,0.74,1.00
27,Santiago,90996,316425,407421.00,0.22,0.78,1.00
28,Santiago Rodríguez,5094,17928,23022.00,0.22,0.78,1.00
29,Santo Domingo,180846.21,555947.79,736794.00,0.25,0.75,1.00
30,Valverde,16034,61078,77112.00,0.21,0.79,1.00
31,Total,1056365.38,3442617.46,4498982.84,0.23,0.77,1.00

In [56]:
lista_int = df_genero.columns.tolist()[1:4]

In [57]:
df_genero[lista_int] = df_genero[lista_int].astype('int64')

In [58]:
df_genero

                 provincia  femenino  masculino    total %_fem %_masc  total_%
0                 Bahoruco      3303      12531    15834  0.21   0.79     1.00
1                 Barahona     10907      41383    52290  0.21   0.79     1.00
2                  Dajabón      6327      17379    23706  0.27   0.73     1.00
3        Distrito Nacional    257251     925498  1182749  0.22   0.78     1.00
4                   Duarte     34019     105379   139398  0.24   0.76     1.00
5                 El Seibo      7146      19047    26193  0.27   0.73     1.00
6               Elías Piña      1557       6125     7682  0.20   0.80     1.00
7                Espaillat     26313      94136   120449  0.22   0.78     1.00
8               Hato Mayor      8157      20298    28455  0.29   0.71     1.00
9         Hermanas Mirabal     11896      43715    55611  0.21   0.79     1.00
10           Independencia      1605       5062     6667  0.24   0.76     1.00
11           La Altagracia     41625     106350   147975  0.28   0.72     1.00
12               La Romana     26029      82749   108778  0.24   0.76     1.00
13                 La Vega     70979     188748   259728  0.27   0.73     1.00
14  María Trinidad Sánchez     20493      60420    80913  0.25   0.75     1.00
15          Monseñor Nouel     24158      66286    90444  0.27   0.73     1.00
16            Monte Cristi     10808      30832    41640  0.26   0.74     1.00
17             Monte Plata     12649      38138    50787  0.25   0.75     1.00
18              Pedernales      1337       4446     5783  0.23   0.77     1.00
19                 Peravia     22968      60008    82976  0.28   0.72     1.00
20            Puerto Plata     33397     113230   146627  0.23   0.77     1.00
21                  Samaná     12747      34045    46792  0.27   0.73     1.00
22           San Cristóbal     34444     150382   184826  0.19   0.81     1.00
23        San José de Ocoa      3797      16179    19976  0.19   0.81     1.00
24  San Juan de la Maguana     18683      60928    79611  0.23   0.77     1.00
25    San Pedro de Macorís     32109      85808   117917  0.27   0.73     1.00
26         Sánchez Ramírez     16350      46447    62797  0.26   0.74     1.00
27                Santiago     90996     316425   407421  0.22   0.78     1.00
28      Santiago Rodríguez      5094      17928    23022  0.22   0.78     1.00
29           Santo Domingo    180846     555947   736793  0.25   0.75     1.00
30                Valverde     16034      61078    77112  0.21   0.79     1.00
31                   Total   1056365    3442617  4498982  0.23   0.77     1.00