In [105]:
# Importamos las librerías que necesitamos

# Librerías de extracción de datos
# -----------------------------------------------------------------------

%load_ext autoreload
%autoreload 2

# Importaciones:
# Beautifulsoup
from bs4 import BeautifulSoup

import sys
sys.path.append('../src')
import funciones as f
import soporte_prep as sp

# Requests
import requests

import pandas as pd
import numpy as np

from time import sleep

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException # Excepciones comunes de selenium que nos podemos encontrar 

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
driver = webdriver.Chrome()
url_accidentes = "https://www.one.gob.do/datos-y-estadisticas/"
driver.get(url_accidentes)
driver.maximize_window()

sleep(1)  # Esperar un segundo entre cada scroll

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/ul/li[2]/a').click()
except:
    print('No encuentro el botón')

sleep(2)

for i in range(2):
    try:
        driver.execute_script("window.scrollBy(0, 500);")  # Desplazarse 1000 píxeles hacia abajo
    except:
        print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/header/div[2]').click()
except:
    print('No encuentro el botón para ampliar')
sleep(2)
try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/header/div[1]').click()
except:
    print('No encuentro el botón para abrir pestañas')
sleep(2)
try:
    driver.execute_script("window.scrollBy(0, 700);")
except:
    print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr[1]/td/a').click()
except:
    print('No encuentro el botón para descargar') #descargo el libro de códigos de accidentes de tráfico

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr[8]/td/a').click()
except:
    print('No encuentro el botón para descargar') #descargo los accidentes de tráfico

# Tablas de Bases de datos

### Tabla principal

In [18]:
df_principal = pd.read_csv('C:\\Users\\DELL\\Downloads\\BD_ACCIDENTES DE TRANSITO_2007-2023.csv')

### Definir lo que significa cada columna

- DIASEMANA: día de la semana.
- MESOCU: mes.
- ANOOCU: año de ocurrencia.
- RHORA: rango de hora.
- REGION: region donde ocurrió.
- PROVINCIA: provincia donde ocurrió.
- TVIA: tipo de vía donde ocurrió.
- TIPOACCIDENTE: tipo de accidente.
- SALDOTRAG: salgo trágico.
- MEDIOTRANS: medio de transporte.
- VEHICHOQUE: vehículo con el que chocó.

In [20]:
df_principal.head()

,DIASEMANA,MESOCU,ANOOCU,RHORA,REGION,PROVINCIA,TVIA,TIPOACCIDENTE,SALDOTRAG,MEDIOTRANS,VEHICHOQUE,VEHICUVOLC,VEHICUATRO,VEHICAIDA,VEHIDESLI,ESTRECON,APLASTAM,OTROACCIDEN
0,7,2,2007,2,10,1,4,3,1,25,26,,99,,,,,
1,2,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
2,3,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
3,3,2,2007,11,10,1,2,3,1,25,26,,99,,,,,
4,5,2,2007,10,10,1,2,3,1,25,26,,99,,,,,

In [197]:
df_llena = df_principal.copy()

In [198]:
df_llena.head()

,DIASEMANA,MESOCU,ANOOCU,RHORA,REGION,PROVINCIA,TVIA,TIPOACCIDENTE,SALDOTRAG,MEDIOTRANS,VEHICHOQUE,VEHICUVOLC,VEHICUATRO,VEHICAIDA,VEHIDESLI,ESTRECON,APLASTAM,OTROACCIDEN
0,7,2,2007,2,10,1,4,3,1,25,26,,99,,,,,
1,2,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
2,3,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
3,3,2,2007,11,10,1,2,3,1,25,26,,99,,,,,
4,5,2,2007,10,10,1,2,3,1,25,26,,99,,,,,

### Tablas secundarias

In [28]:
driver = webdriver.Chrome()
url_accidentes = "file:///C:/Users/DELL/Downloads/Libro%20de%20c%C3%B3digo%20accidentes%20de%20tr%C3%A1nsito%202007-2023%20(1).htm"
driver.get(url_accidentes)
driver.maximize_window()

sleep(1)  # Esperar un segundo entre cada scroll

sopa_accidentes = BeautifulSoup(driver.page_source)
lista_tablas = sopa_accidentes.findAll('div', {'class': 'itemBody'})
lista_tablas[0]

<div class="itemBody">
<table aria-label="DIASEMANA" class="Default PivotTable" data-col-labels="Valor" data-collabelheight="1" data-column-dimension="Valores;" data-decimal-char="." data-layer-dimension="" data-lookname="Default" data-maxcolwidth="72" data-numcols="1" data-numrows="9" data-row-dimension="Atributos;" data-row-labels="Atributos estándar Etiqueta;Valores válidos 1; 2; 3; 4; 5; 6; 7; 9" data-rowlabels="Corner" data-rowlabelwidth="2" role="complementary" style="width:279px" summary="DIASEMANA, tabla, 1 niveles de cabeceras de columna y 2 niveles de cabeceras de fila, tabla con 3 columnas y 11 filas">
<caption class="title" style="width:279px">DIASEMANA<span class="details">DIASEMANA, tabla, 1 niveles de cabeceras de columna y 2 niveles de cabeceras de fila, tabla con 3 columnas y 11 filas</span></caption>
<tbody class="PivotBody defaultLayer innerFrameBd">
<tr>
<td class="cornerLabels" colspan="2"> </td>
<td class="columnLabels dataAreaLeft vCC role3">Valor</td>
</tr>
<tr>
<td class="rowLabels dataAreaTop role2">Atributos estándar</td>
<td class="rowLabels dataAreaTop vCR role3">Etiqueta</td>
<td class="e dataAreaTop dataAreaLeft vCC" style="text-align:left;">Día de la semana</td>
</tr>
<tr>
<td class="rowLabels hCR role2" rowspan="8">Valores válidos</td>
<td class="rowLabels hCR vCR role3">1</td>
<td class="o dataAreaLeft hCR vCC" style="text-align:left;">Lunes</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">2</td>
<td class="e dataAreaLeft hCR vCC" style="text-align:left;">Martes</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">3</td>
<td class="o dataAreaLeft hCR vCC" style="text-align:left;">Miércoles</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">4</td>
<td class="e dataAreaLeft hCR vCC" style="text-align:left;">Jueves</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">5</td>
<td class="o dataAreaLeft hCR vCC" style="text-align:left;">Viernes</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">6</td>
<td class="e dataAreaLeft hCR vCC" style="text-align:left;">Sábado</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">7</td>
<td class="o dataAreaLeft hCR vCC" style="text-align:left;">Domingo</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">9</td>
<td class="e dataAreaLeft hCR vCC" style="text-align:left;">No declarado</td>
</tr>
<tr>
<td style="width:119px;padding:0px;border-spacing:0px"></td>
<td style="width:64px;padding:0px;border-spacing:0px"></td>
<td style="width:96px;padding:0px;border-spacing:0px"></td>
</tr>
</tbody>
</table>
</div>

In [189]:
dataframes = []

# Iterar sobre cada tabla en la lista
for i, tabla in enumerate(lista_tablas):
    # Extraer las filas (tr) dentro de cada tabla
    rows = tabla.find_all('tr')

    # Extraer los datos de las celdas
    data = []
    for row in rows:
        cells = row.find_all('td')
        data.append([cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)])

    # Crear un DataFrame con los datos
    df = pd.DataFrame(data)

    # Guardar el DataFrame en la lista
    dataframes.append(df)

    # # Si quieres guardar cada DataFrame como CSV:
    # df.to_csv(f'tabla_{i}.csv', index=False)

# Ver cuántos DataFrames se generaron
print(f"Se generaron {len(dataframes)} DataFrames.")

Se generaron 18 DataFrames.

In [190]:
dataframes[1]

                     0             1      2
0                Valor          None   None
1   Atributos estándar      Etiqueta    Mes
2      Valores válidos             1  Enero
3                    2       Febrero   None
4                    3         Marzo   None
5                    4         Abril   None
6                    5          Mayo   None
7                    6         Junio   None
8                    7         Julio   None
9                    8        Agosto   None
10                   9    Septiembre   None
11                  10       Octubre   None
12                  11     Noviembre   None
13                  12     Diciembre   None
14                  99  No declarado   None
15                None          None   None

In [191]:
df_diasem = dataframes[0]
df_mes = dataframes[1]
df_rhora = dataframes[3]
df_region = dataframes[4]
df_provincia = dataframes[5]
df_tipovia = dataframes[6]
df_accidente = dataframes[7]
df_mediot = dataframes[9]
df_choque = dataframes[10]

In [192]:
dataframes_list = [
    df_region, df_provincia, df_diasem, df_mes, df_rhora,
    df_tipovia, df_accidente,
    df_mediot, df_choque
]

for i, df in enumerate(dataframes_list):
    # Recortar las filas a partir de la fila 3
    df = df.iloc[2:]
    
    # Mover el valor de la columna 2 a la columna 1 en la primera fila
    df.iloc[0, 1] = df.iloc[0, 2]
    df.iloc[0,0] = 1
    
    # Seleccionar solo la columna 1
    df = df[[0,1]]
    
    # Reiniciar el índice
    df.reset_index(drop=True, inplace=True)
    df = df[:-1]
    df.columns = ['Valor', 'Significado']
    df['Valor'] = df['Valor'].astype('int64')
    # Guardar el DataFrame transformado de nuevo en la lista
    dataframes_list[i] = df

# Asignar los DataFrames de vuelta a sus variables
df_region, df_provincia, df_diasem, df_mes, df_rhora, df_tipovia, df_accidente, df_mediot, df_choque = dataframes_list

In [193]:
df_llena.head()

,DIASEMANA,MESOCU,ANOOCU,RHORA,REGION,PROVINCIA,TVIA,TIPOACCIDENTE,SALDOTRAG,MEDIOTRANS,VEHICHOQUE,VEHICUVOLC,VEHICUATRO,VEHICAIDA,VEHIDESLI,ESTRECON,APLASTAM,OTROACCIDEN
0,NaN,2,2007,2,10,1,4,3,1,25,26,,99,,,,,
1,NaN,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
2,NaN,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
3,NaN,2,2007,11,10,1,2,3,1,25,26,,99,,,,,
4,NaN,2,2007,10,10,1,2,3,1,25,26,,99,,,,,

In [199]:
df_llena.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28312 entries, 0 to 28311
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DIASEMANA      28312 non-null  int64
 1   MESOCU         28312 non-null  int64
 2   ANOOCU         28312 non-null  int64
 3   RHORA          28312 non-null  int64
 4   REGION         28312 non-null  int64
 5   PROVINCIA      28312 non-null  int64
 6   TVIA           28312 non-null  int64
 7   TIPOACCIDENTE  28312 non-null  int64
 8   SALDOTRAG      28312 non-null  int64
 9   MEDIOTRANS     28312 non-null  int64
 10  VEHICHOQUE     28312 non-null  object
 11  VEHICUVOLC     28312 non-null  object
 12  VEHICUATRO     28312 non-null  object
 13  VEHICAIDA      28312 non-null  object
 14  VEHIDESLI      28312 non-null  object
 15  ESTRECON       28312 non-null  object
 16  APLASTAM       28312 non-null  object
 17  OTROACCIDEN    28312 non-null  object
dtypes: int64(10), object(8)
memory usage: 3.9+ MB

In [200]:
df_diasem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Valor        8 non-null      int64
 1   Significado  8 non-null      object
dtypes: int64(1), object(1)
memory usage: 260.0+ bytes

In [201]:
df_llena['DIASEMANA'].unique()

array([7, 2, 3, 5, 6, 1, 4], dtype=int64)

In [202]:
df_diasem

   Valor   Significado
0      1         Lunes
1      2        Martes
2      3     Miércoles
3      4        Jueves
4      5       Viernes
5      6        Sábado
6      7       Domingo
7      9  No declarado

In [203]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_diasem['Valor'], df_diasem['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['DIASEMANA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['DIASEMANA'] = df_llena['DIASEMANA'].map(mapeo_filtrado)

In [204]:
df_llena.head()

,DIASEMANA,MESOCU,ANOOCU,RHORA,REGION,PROVINCIA,TVIA,TIPOACCIDENTE,SALDOTRAG,MEDIOTRANS,VEHICHOQUE,VEHICUVOLC,VEHICUATRO,VEHICAIDA,VEHIDESLI,ESTRECON,APLASTAM,OTROACCIDEN
0,Domingo,2,2007,2,10,1,4,3,1,25,26,,99,,,,,
1,Martes,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
2,Miércoles,2,2007,1,10,1,2,3,1,25,26,,99,,,,,
3,Miércoles,2,2007,11,10,1,2,3,1,25,26,,99,,,,,
4,Viernes,2,2007,10,10,1,2,3,1,25,26,,99,,,,,

In [209]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_accidente['Valor'], df_accidente['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['TIPOACCIDENTE'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['TIPOACCIDENTE'] = df_llena['TIPOACCIDENTE'].map(mapeo_filtrado)

In [214]:
df_llena = df_llena.iloc[:,0:10]

In [215]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_mes['Valor'], df_mes['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['MESOCU'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['MESOCU'] = df_llena['MESOCU'].map(mapeo_filtrado)

In [218]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_rhora['Valor'], df_rhora['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['RHORA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['RHORA'] = df_llena['RHORA'].map(mapeo_filtrado)

In [217]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_region['Valor'], df_region['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['REGION'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['REGION'] = df_llena['REGION'].map(mapeo_filtrado)

In [219]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_provincia['Valor'], df_provincia['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['PROVINCIA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['PROVINCIA'] = df_llena['PROVINCIA'].map(mapeo_filtrado)

In [220]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_tipovia['Valor'], df_tipovia['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['TVIA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['TVIA'] = df_llena['TVIA'].map(mapeo_filtrado)

In [223]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_mediot['Valor'], df_mediot['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['MEDIOTRANS'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['MEDIOTRANS'] = df_llena['MEDIOTRANS'].map(mapeo_filtrado)

In [224]:
df_llena.head()

,DIASEMANA,MESOCU,ANOOCU,RHORA,REGION,PROVINCIA,TVIA,TIPOACCIDENTE,SALDOTRAG,MEDIOTRANS
0,Domingo,Febrero,2007,02:01-04:00,Región Ozama,Distrito Nacional,Carretera,Atropellamiento,1,Peatón atropellado
1,Martes,Febrero,2007,00:01-02:00,Región Ozama,Distrito Nacional,Avenida,Atropellamiento,1,Peatón atropellado
2,Miércoles,Febrero,2007,00:01-02:00,Región Ozama,Distrito Nacional,Avenida,Atropellamiento,1,Peatón atropellado
3,Miércoles,Febrero,2007,20:01-22:00,Región Ozama,Distrito Nacional,Avenida,Atropellamiento,1,Peatón atropellado
4,Viernes,Febrero,2007,18:01-20:00,Región Ozama,Distrito Nacional,Avenida,Atropellamiento,1,Peatón atropellado

In [225]:
df_llena['MEDIOTRANS'].value_counts()

MEDIOTRANS
Motocicleta, ciclomotor (passola)    18348
Peatón atropellado                    5608
Automóvil (carro)                     1658
Camión                                 694
Yipeta, yip                            692
Camioneta                              579
No declarado                           301
Autobús                                121
Minibús, miniván                       119
Bicicleta                               79
Otros                                   49
Tractor                                 15
Patana                                   7
Animal                                   7
Furgoneta                                6
Vehículo le cayó encima                  6
Triciclo                                 5
Ambulancia                               5
Excavadora                               3
Volteo                                   3
Pala mecánica                            2
Carreta                                  2
Rodillo                                  1
Grúa                                     1
Gredar                                   1
Name: count, dtype: int64