In [2]:
# Importamos las librerías que necesitamos

# Librerías de extracción de datos
# -----------------------------------------------------------------------

%load_ext autoreload
%autoreload 2

# Visualizaciones
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
import plotly_express as px

import sys
sys.path.append('../')
from src import funciones as f
from src import soporte_prep as sp

import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Parque Vehicular España

In [4]:
df_parque_vehicular_es = pd.read_excel("C:\\Users\\DELL\\Downloads\\Parque-de-vehiculos-Series-historicas-2023.xlsx", sheet_name='parque_ciclomotores', skiprows=2)

In [18]:
df_parque_vehicular_es.head()

,Años,Camiones y\nfurgonetas,Autobuses,Turismos,Motocicletas,Tractores\nIndustriales,Remolques y\nSemirremolques,Otros\nVehículos,Ciclomotores,Total
0,2002,4091875,56953,18732632,1517208,167014,287220,212830,2044242,27109974
1,2003,4188910,55993,18688320,1513526,174507,306842,241354,2143593,27313045
2,2004,4418039,56957,19541918,1612082,185379,330933,287333,2242046,28674687
3,2005,4655413,58248,20250377,1805827,194206,353946,339259,2311773,29969049
4,2006,4910257,60385,21052559,2058022,204094,380147,388597,2343124,31397185

In [20]:
df_parque_vehicular_es.columns = ['anio', 'camiones_furgonetas', 'autobuses', 'turismos', 'motocicletas', 'tractores', 'remolques', 'otros', 'ciclomotores', 'total']
df_parque_vehicular_es.tail()

,anio,camiones_furgonetas,autobuses,turismos,motocicletas,tractores,remolques,otros,ciclomotores,total
17,2019,5015973,65470,24558126,3607226,232680,487823,467493,1908492,36343283
18,2020,5030927,63387,24716898,3735920,235511,498492,484068,1891754,36656957
19,2021,5050416,64447,24940969,3866220,238456,512500,505800,1868056,37046864
20,2022,5075068,65377,25222554,4006804,245075,526546,527019,1842501,37510944
21,2023,5148231,66638,25356594,4162850,253334,540907,546684,1815623,37890861

In [138]:
df_parque_vehicular_es.to_csv('../Datos/datos_plus/parque_vehicular_esp.csv')

## Defunciones España

In [9]:
df_defunciones_es = pd.read_csv("C:\\Users\\DELL\\Downloads\\muertes_transito_espana.csv", sep=';')

In [10]:
df_defunciones_es

     Año  Fallecidos
0   2000        5776
1   2001        5517
2   2002        5347
3   2003        5399
4   2004        4741
5   2005        4442
6   2006        4104
7   2007        3823
8   2008        3100
9   2009        2714
10  2010        2478
11  2011        2060
12  2012        1903
13  2013        1680
14  2014        1688
15  2015        1689
16  2016        1810
17  2017        1830
18  2018        1806
19  2019        1755
20  2020        1370
21  2021        1533
22  2022        1746
23  2023        1806

In [139]:
df_defunciones_es.to_csv('../Datos/datos_plus/defunciones_esp.csv')

## Parque vehicular RD - Antiguedad

In [43]:
df_pvehicular_antiguo_rd = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023\\ParqueVehicular2023.xlsx', sheet_name='2.9', skiprows=9, index_col=0)

In [44]:
df_pvehicular_antiguo_rd.head()

,Año de Fabricación,Tipo de Vehículo,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Participación \n%,Unnamed: 12,Unnamed: 13,Unnamed: 14
NaN,NaN,Motocicletas,Automóviles,Jeeps,Carga,Autobuses,Máquinas Pesadas,Volteo,Otros,Total,NaN,NaN,NaN,NaN
NaN,2000a/,1169602,543452,92937,252007,54525,14435,13374,15138,2155470,0.37,NaN,NaN,NaN
NaN,2001,20732,25730,28700,15234,3159,841,743,574,95713,0.02,NaN,NaN,0.89
NaN,2002,28244,21865,29723,15052,5057,803,881,553,102178,0.02,NaN,NaN,NaN
NaN,2003,25871,18397,19079,11691,4125,429,792,418,80802,0.01,NaN,NaN,NaN

In [45]:
df_pvehicular_antiguo_rd = df_pvehicular_antiguo_rd.iloc[1:, :11]
df_pvehicular_antiguo_rd.columns = ['anio', 'motocicletas', 'automóviles', 'jeeps', 'carga', 'autobuses', 'máquinas_pesadas', 'volteo', 'otros', 'total', 'participacion %']

In [46]:
df_pvehicular_antiguo_rd.reset_index(drop=True, inplace=True)
df_pvehicular_antiguo_rd = df_pvehicular_antiguo_rd[df_pvehicular_antiguo_rd['motocicletas'].notnull()]
df_pvehicular_antiguo_rd['participacion %'] = df_pvehicular_antiguo_rd['participacion %'] * 100

In [47]:
df_pvehicular_antiguo_rd['anio'] = df_pvehicular_antiguo_rd['anio'].apply(lambda x: x.replace('a/', '') if 'a/' in str(x) else x)

In [140]:
df_pvehicular_antiguo_rd.sort_values(by='participacion %', ascending=False)[1:6]

,anio,motocicletas,automóviles,jeeps,carga,autobuses,máquinas_pesadas,volteo,otros,total,participacion %
0,2000,1169602,543452,92937,252007,54525,14435,13374,15138,2155470,37.09
15,2015,137948,47087,36744,11163,5980,490,182,365,239959,4.13
16,2016,124465,48158,44587,13258,5882,592,195,341,237478,4.09
17,2017,118017,37229,44357,11688,5334,760,366,317,218068,3.75
14,2014,109288,53738,36209,8872,5545,386,163,244,214445,3.69

In [141]:
df_pvehicular_antiguo_rd.to_csv('../Datos/datos_plus/antiguedad_pvehicular.csv')

## Vehículos por género de su propietario por propietario privado - jurídico

In [118]:
df_pveh_genero_pais = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023\\ParqueVehicular2023.xlsx', sheet_name='2.5', skiprows=34, index_col=0)

In [119]:
df_pveh_genero_pais

,Unnamed: 1,Tipo,Femenino,Masculino,Personas Jurídicas4/,Total
NaN,NaN,Motocicletas,409307.24,1831819.25,1039891.51,3281018.00
NaN,NaN,Automóviles1/,302093.83,693906.40,126335.77,1122336.00
NaN,NaN,Jeep,226092.67,392251.82,60125.51,678470.00
NaN,NaN,Carga2/,40883.53,297969.21,182425.00,521277.74
NaN,NaN,Autobuses,18414.56,75255.44,37021.00,130691.00
NaN,NaN,Máquinas Pesadas,1236.42,10588.58,15757.00,27582.00
NaN,NaN,Volteo,1746.97,12703.03,11095.00,25545.00
NaN,NaN,Otros3/,959.55,7764.45,15244.00,23968.00
NaN,NaN,Total,1000734.76,3322258.19,1487894.79,5810887.74
Notas: Cifras generadas al 6 de febrero de 2024.,NaN,NaN,NaN,NaN,NaN,NaN
"1/ Incluye Privados, Públicos Urbanos e Interurbanos.",NaN,NaN,NaN,NaN,NaN,NaN
2/ Incluye Camiones y Camionetas.,NaN,NaN,NaN,NaN,NaN,NaN
"3/ Incluye Remolques, Ambulancias, Montacargas y Fúnebres.",NaN,NaN,NaN,NaN,NaN,NaN
4/ Registros cuyo género no puede ser definido por tratarse de personas jurídicas.,NaN,NaN,NaN,NaN,NaN,NaN
"Fuente: Gerencia de Estudios Económicos y Tributarios, DGII.",NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
df_pveh_genero_pais = df_pveh_genero_pais.dropna(how='all')

In [121]:
df_pveh_genero_pais = df_pveh_genero_pais.iloc[:,1:]

In [122]:
df_pveh_genero_pais.reset_index(drop=True, inplace=True)

In [124]:
df_pveh_genero_pais['Tipo'] = df_pveh_genero_pais['Tipo'].str.replace(r'\d+/.*', '', regex=True).str.strip()

In [125]:
df_pveh_genero_pais.columns = ['tipo', 'femenino', 'masculino', 'persona_juridica', 'total']
df_pveh_genero_pais

               tipo   femenino  masculino  persona_juridica      total
0      Motocicletas  409307.24 1831819.25        1039891.51 3281018.00
1       Automóviles  302093.83  693906.40         126335.77 1122336.00
2              Jeep  226092.67  392251.82          60125.51  678470.00
3             Carga   40883.53  297969.21         182425.00  521277.74
4         Autobuses   18414.56   75255.44          37021.00  130691.00
5  Máquinas Pesadas    1236.42   10588.58          15757.00   27582.00
6            Volteo    1746.97   12703.03          11095.00   25545.00
7             Otros     959.55    7764.45          15244.00   23968.00
8             Total 1000734.76 3322258.19        1487894.79 5810887.74

In [135]:
columnas_int = df_pveh_genero_pais.columns.tolist()[1:5]

In [136]:
df_pveh_genero_pais[columnas_int] = df_pveh_genero_pais[columnas_int].astype(int)

In [137]:
df_pveh_genero_pais

               tipo  femenino  masculino  persona_juridica    total
0      Motocicletas    409307    1831819           1039891  3281017
1       Automóviles    302093     693906            126335  1122335
2              Jeep    226092     392251             60125   678469
3             Carga     40883     297969            182425   521277
4         Autobuses     18414      75255             37021   130691
5  Máquinas Pesadas      1236      10588             15757    27582
6            Volteo      1746      12703             11095    25545
7             Otros       959       7764             15244    23968
8             Total   1000734    3322258           1487894  5810887

In [142]:
df_pveh_genero_pais.to_csv('../Datos/datos_plus/parquev_privado_publico.csv')

## Vehículos por género de su propietario por provincia

In [126]:
df_pveh_genero_rd_prov = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023\\ParqueVehicular2023.xlsx', sheet_name='2.6', skiprows=7, index_col=0)

In [127]:
df_pveh_genero_rd_prov = df_pveh_genero_rd_prov[['Provincia', 'Género', 'Unnamed: 4', 'Total', 'Género.1', 'Unnamed: 11', 'Total.1']]

In [128]:
df_pveh_genero_rd_prov.columns = ['provincia', 'femenino', 'masculino', 'total', '%_fem', '%_masc', 'total_%']
df_pveh_genero_rd_prov = df_pveh_genero_rd_prov.iloc[1:]
df_pveh_genero_rd_prov = df_pveh_genero_rd_prov[df_pveh_genero_rd_prov['femenino'].notnull()]

In [129]:
df_pveh_genero_rd_prov.reset_index(drop=True, inplace=True)

In [130]:
df_pveh_genero_rd_prov.head()

           provincia femenino masculino      total %_fem %_masc  total_%
0               Azua    11977     54694   66671.00  0.18   0.82     1.00
1           Bahoruco     3191     12020   15211.00  0.21   0.79     1.00
2           Barahona    10933     41140   52073.00  0.21   0.79     1.00
3            Dajabón     6001     16761   22762.00  0.26   0.74     1.00
4  Distrito Nacional   242930    891466 1134396.00  0.21   0.79     1.00

In [143]:
df_pveh_genero_rd_prov.to_csv('../Datos/datos_plus/parquev_genero_prov.csv')