In [1]:
# Importamos las librerías que necesitamos

# Librerías de extracción de datos
# -----------------------------------------------------------------------

%load_ext autoreload
%autoreload 2

import sys
sys.path.append('..')
from src import funciones as f
from src import soporte_prep as sp

# Importaciones:
# Beautifulsoup
from bs4 import BeautifulSoup

# Requests
import requests

import pandas as pd
import numpy as np

from time import sleep

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException # Excepciones comunes de selenium que nos podemos encontrar 

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [2]:
driver = webdriver.Chrome()
url_accidentes = "https://www.one.gob.do/datos-y-estadisticas/"
driver.get(url_accidentes)
driver.maximize_window()

sleep(1)  # Esperar un segundo entre cada scroll

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/ul/li[2]/a').click()
except:
    print('No encuentro el botón')

sleep(2)

for i in range(2):
    try:
        driver.execute_script("window.scrollBy(0, 500);")  # Desplazarse 1000 píxeles hacia abajo
    except:
        print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/header/div[2]').click()
except:
    print('No encuentro el botón para ampliar')
sleep(2)
try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/header/div[1]').click()
except:
    print('No encuentro el botón para abrir pestañas')
sleep(2)
try:
    driver.execute_script("window.scrollBy(0, 700);")
except:
    print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr[6]/td/a').click()
except:
    print('No encuentro el botón para descargar') #descargo el libro de códigos de accidentes de tráfico, lasdefunciones

try:
    driver.execute_script("window.scrollBy(0, 500);")
except:
    print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr[17]/td/a').click()
except:
    print('No encuentro el botón para descargar') #descargo las defunciones por accidentes de tráfico

# Tablas de Bases de datos

### Tabla principal

In [5]:
df_principal = pd.read_csv('C:\\Users\\DELL\\Downloads\\BD_MUERTES_ACCIDENTES_2007-2023.csv', sep=';')

### Definir lo que significa cada columna

- CAUSA_M: muerte en accidente.
- REGION: region donde ocurrió.
- PROVINCIA: provincia donde ocurrió.
- DIASEMANA: día de la semana.
- MESOCU: mes.
- ANOOCU: año de ocurrencia.
- RHORA: rango de hora.
- TVIA: tipo de vía donde ocurrió.
- SEXO: género de la persona.
- GRUPOEDAD: grupo de edad.
- CONDIVICTIMA: condición de la víctima.
- TIPOACCIDENTE: tipo de accidente.
- MEDIOTRANS: medio de transporte.
- VEHICHOQUE: vehículo con el que chocó.
- ESTRECON: objeto con el que se estralló.

In [6]:
df_principal.head()

,CAUSA_M,REGION,PROVINCIA,DIASEMANA,MESOCU,ANOOCU,RHORA,TVIA,SEXO,GRUPOEDAD,CONDIVICTIMA,TIPOACCIDENTE,MEDIOTRANS,ESTRECON,VEHICHOQUE,VEHICUVOLC,VEHICUATRO,VEHICAIDA,VEHIDESLI,APLASTAM,OTROACCIDEN
0,V01-V99,1,9,6,1,2007,10,99,1,5,9,1,2,,8,,,,,,
1,V01-V99,1,9,7,1,2007,1,4,1,12,9,1,2,,1,,,,,,
2,V01-V99,1,9,4,2,2007,11,4,1,4,9,1,2,,1,,,,,,
3,V01-V99,1,9,1,2,2007,6,99,1,1,9,3,25,,,,3,,,,
4,V01-V99,1,9,4,3,2007,10,4,1,5,9,1,2,,4,,,,,,

In [7]:
df_principal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31351 entries, 0 to 31350
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CAUSA_M        31351 non-null  object
 1   REGION         31351 non-null  int64
 2   PROVINCIA      31351 non-null  int64
 3   DIASEMANA      31351 non-null  int64
 4   MESOCU         31351 non-null  int64
 5   ANOOCU         31351 non-null  int64
 6   RHORA          31351 non-null  int64
 7   TVIA           31351 non-null  int64
 8   SEXO           31351 non-null  int64
 9   GRUPOEDAD      31351 non-null  int64
 10  CONDIVICTIMA   31351 non-null  int64
 11  TIPOACCIDENTE  31351 non-null  int64
 12  MEDIOTRANS     31351 non-null  int64
 13  ESTRECON       31351 non-null  object
 14  VEHICHOQUE     31351 non-null  object
 15  VEHICUVOLC     31351 non-null  object
 16  VEHICUATRO     31351 non-null  object
 17  VEHICAIDA      31351 non-null  object
 18  VEHIDESLI      31351 non-null  object
 19  APLASTAM       31351 non-null  object
 20  OTROACCIDEN    31351 non-null  object
dtypes: int64(12), object(9)
memory usage: 5.0+ MB

In [8]:
df_principal.nunique()

CAUSA_M           1
REGION           11
PROVINCIA        33
DIASEMANA         7
MESOCU           12
ANOOCU           17
RHORA            13
TVIA             14
SEXO              3
GRUPOEDAD        15
CONDIVICTIMA      4
TIPOACCIDENTE     9
MEDIOTRANS       25
ESTRECON         19
VEHICHOQUE       26
VEHICUVOLC       16
VEHICUATRO       24
VEHICAIDA        19
VEHIDESLI        19
APLASTAM         10
OTROACCIDEN       5
dtype: int64

In [9]:
df_principal.drop(columns='CAUSA_M', inplace=True)

In [10]:
df_principal.head()

,REGION,PROVINCIA,DIASEMANA,MESOCU,ANOOCU,RHORA,TVIA,SEXO,GRUPOEDAD,CONDIVICTIMA,TIPOACCIDENTE,MEDIOTRANS,ESTRECON,VEHICHOQUE,VEHICUVOLC,VEHICUATRO,VEHICAIDA,VEHIDESLI,APLASTAM,OTROACCIDEN
0,1,9,6,1,2007,10,99,1,5,9,1,2,,8,,,,,,
1,1,9,7,1,2007,1,4,1,12,9,1,2,,1,,,,,,
2,1,9,4,2,2007,11,4,1,4,9,1,2,,1,,,,,,
3,1,9,1,2,2007,6,99,1,1,9,3,25,,,,3,,,,
4,1,9,4,3,2007,10,4,1,5,9,1,2,,4,,,,,,

### Tablas secundarias

In [11]:
driver = webdriver.Chrome()
url_defunciones = "file:///C:/Users/DELL/Downloads/Libro%20de%20c%C3%B3digos%20de%20defunciones%20en%20accidentes%20de%20tr%C3%A1nsito%202007_2023.htm"
driver.get(url_defunciones)
driver.maximize_window()

sleep(1)  # Esperar un segundo entre cada scroll

In [12]:
sopa_defunciones = BeautifulSoup(driver.page_source)

In [13]:
lista_tablas = sopa_defunciones.findAll('div', {'class': 'itemBody'})

In [14]:
lista_tablas[0]

<div class="itemBody">
<table aria-label="CAUSA_M" class="Default PivotTable" data-col-labels="Valor" data-collabelheight="1" data-column-dimension="Valores;" data-decimal-char="." data-layer-dimension="" data-lookname="Default" data-maxcolwidth="72" data-numcols="1" data-numrows="3" data-row-dimension="Atributos;" data-row-labels="Atributos estándar Etiqueta; Formato;Valores válidos V01-V99" data-rowlabels="Corner" data-rowlabelwidth="2" role="complementary" style="width:280px" summary="CAUSA_M, tabla, 1 niveles de cabeceras de columna y 2 niveles de cabeceras de fila, tabla con 3 columnas y 5 filas">
<caption class="title" style="width:280px">CAUSA_M<span class="details">CAUSA_M, tabla, 1 niveles de cabeceras de columna y 2 niveles de cabeceras de fila, tabla con 3 columnas y 5 filas</span></caption>
<tbody class="PivotBody defaultLayer innerFrameBd">
<tr>
<td class="cornerLabels" colspan="2"> </td>
<td class="columnLabels dataAreaLeft vCC role3">Valor</td>
</tr>
<tr>
<td class="rowLabels dataAreaTop role2" rowspan="2">Atributos estándar</td>
<td class="rowLabels dataAreaTop vCR role3">Etiqueta</td>
<td class="e dataAreaTop dataAreaLeft vCC" style="text-align:left;">Muerte en accidente de tráfico</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">Formato</td>
<td class="o dataAreaLeft hCR vCC" style="text-align:left;">A7</td>
</tr>
<tr>
<td class="rowLabels hCR role2">Valores válidos</td>
<td class="rowLabels hCR vCR role3">V01-V99</td>
<td class="e dataAreaLeft hCR vCC" style="text-align:left;">Muerte en accidente de tránsito terrestre</td>
</tr>
<tr>
<td style="width:119px;padding:0px;border-spacing:0px"></td>
<td style="width:65px;padding:0px;border-spacing:0px"></td>
<td style="width:96px;padding:0px;border-spacing:0px"></td>
</tr>
</tbody>
</table>
</div>

In [15]:
dataframes = []

# Iterar sobre cada tabla en la lista
for i, tabla in enumerate(lista_tablas):
    # Extraer las filas (tr) dentro de cada tabla
    rows = tabla.find_all('tr')

    # Extraer los datos de las celdas
    data = []
    for row in rows:
        cells = row.find_all('td')
        data.append([cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)])

    # Crear un DataFrame con los datos
    df = pd.DataFrame(data)

    # Guardar el DataFrame en la lista
    dataframes.append(df)

# Ver cuántos DataFrames se generaron
print(f"Se generaron {len(dataframes)} DataFrames.")

Se generaron 21 DataFrames.

In [16]:
type(dataframes)

list

In [17]:
df_region = dataframes[1]
df_provincia = dataframes[2]
df_diasem = dataframes[3]
df_mes = dataframes[4]
df_anio = dataframes[5]
df_rhora = dataframes[6]
df_tipovia = dataframes[7]
df_genero = dataframes[8]
df_gedad = dataframes[9]
df_victima = dataframes[10]
df_accidente = dataframes[11]
df_mediot = dataframes[12]
df_estrello = dataframes[13]
df_vehichoque = dataframes[14]

In [18]:
dataframes_list = [
    df_region, df_provincia, df_diasem, df_mes, df_anio, df_rhora,
    df_tipovia, df_genero, df_gedad, df_victima, df_accidente,
    df_mediot, df_estrello, df_vehichoque
]

for i, df in enumerate(dataframes_list):
    # Recortar las filas a partir de la fila 3
    df = df.iloc[3:]
    
    # Mover el valor de la columna 2 a la columna 1 en la primera fila
    df.iloc[0, 1] = df.iloc[0, 2]
    df.iloc[0,0] = 1
    
    # Seleccionar solo la columna 1
    df = df[[0,1]]
    df = df[:-1]
    df.columns = ['Valor', 'Significado']
    df['Valor'] = df['Valor'].astype('int64')

    # Reiniciar el índice
    df.reset_index(drop=True, inplace=True)
    
    # Guardar el DataFrame transformado de nuevo en la lista
    dataframes_list[i] = df

# Asignar los DataFrames de vuelta a sus variables
df_region, df_provincia, df_diasem, df_mes, df_anio, df_rhora, \
df_tipovia, df_genero, df_gedad, df_victima, df_accidente, \
df_mediot, df_estrello, df_vehichoque = dataframes_list

In [19]:
df_llena = df_principal.copy()

In [20]:
df_llena.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31351 entries, 0 to 31350
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   REGION         31351 non-null  int64
 1   PROVINCIA      31351 non-null  int64
 2   DIASEMANA      31351 non-null  int64
 3   MESOCU         31351 non-null  int64
 4   ANOOCU         31351 non-null  int64
 5   RHORA          31351 non-null  int64
 6   TVIA           31351 non-null  int64
 7   SEXO           31351 non-null  int64
 8   GRUPOEDAD      31351 non-null  int64
 9   CONDIVICTIMA   31351 non-null  int64
 10  TIPOACCIDENTE  31351 non-null  int64
 11  MEDIOTRANS     31351 non-null  int64
 12  ESTRECON       31351 non-null  object
 13  VEHICHOQUE     31351 non-null  object
 14  VEHICUVOLC     31351 non-null  object
 15  VEHICUATRO     31351 non-null  object
 16  VEHICAIDA      31351 non-null  object
 17  VEHIDESLI      31351 non-null  object
 18  APLASTAM       31351 non-null  object
 19  OTROACCIDEN    31351 non-null  object
dtypes: int64(12), object(8)
memory usage: 4.8+ MB

In [21]:
df_llena = df_llena.iloc[:,0:14]

In [26]:
df_llena.head()

,REGION,PROVINCIA,DIASEMANA,MESOCU,ANOOCU,RHORA,TVIA,SEXO,GRUPOEDAD,CONDIVICTIMA,TIPOACCIDENTE,MEDIOTRANS,ESTRECON,VEHICHOQUE
0,Región Cibao Norte,Espaillat,Sábado,Enero,2007,18:01-20:00,No declarada,Hombres,20-24,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,8
1,Región Cibao Norte,Espaillat,Domingo,Enero,2007,00:01-02:00,Carretera,Hombres,55-59,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,1
2,Región Cibao Norte,Espaillat,Jueves,Febrero,2007,20:01-22:00,Carretera,Hombres,15-19,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,1
3,Región Cibao Norte,Espaillat,Lunes,Febrero,2007,10:01-12:00,No declarada,Hombres,0-4,No declarada,Atropellamiento,Peatón atropellado,,
4,Región Cibao Norte,Espaillat,Jueves,Marzo,2007,18:01-20:00,Carretera,Hombres,20-24,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,4

### Guardar los csv

In [24]:
# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_accidente['Valor'], df_accidente['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['TIPOACCIDENTE'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['TIPOACCIDENTE'] = df_llena['TIPOACCIDENTE'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_region['Valor'], df_region['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['REGION'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['REGION'] = df_llena['REGION'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_provincia['Valor'], df_provincia['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['PROVINCIA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['PROVINCIA'] = df_llena['PROVINCIA'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_diasem['Valor'], df_diasem['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['DIASEMANA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['DIASEMANA'] = df_llena['DIASEMANA'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_mes['Valor'], df_mes['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['MESOCU'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['MESOCU'] = df_llena['MESOCU'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_rhora['Valor'], df_rhora['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['RHORA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['RHORA'] = df_llena['RHORA'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_tipovia['Valor'], df_tipovia['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['TVIA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['TVIA'] = df_llena['TVIA'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_genero['Valor'], df_genero['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['SEXO'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['SEXO'] = df_llena['SEXO'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_gedad['Valor'], df_gedad['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['GRUPOEDAD'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['GRUPOEDAD'] = df_llena['GRUPOEDAD'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_victima['Valor'], df_victima['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['CONDIVICTIMA'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['CONDIVICTIMA'] = df_llena['CONDIVICTIMA'].map(mapeo_filtrado)

# Crear el diccionario de mapeo basado en df_diasem
mapeo_dias = dict(zip(df_mediot['Valor'], df_mediot['Significado']))

# Filtrar el diccionario de mapeo para que solo incluya valores que existen en df_llena['DIASEMANA']
valores_presentes = df_llena['MEDIOTRANS'].unique()  # Valores únicos en DIASEMANA
mapeo_filtrado = {k: v for k, v in mapeo_dias.items() if k in valores_presentes}

# Aplicar el mapeo solo con los valores presentes
df_llena['MEDIOTRANS'] = df_llena['MEDIOTRANS'].map(mapeo_filtrado)

In [27]:
df_llena.head()

,REGION,PROVINCIA,DIASEMANA,MESOCU,ANOOCU,RHORA,TVIA,SEXO,GRUPOEDAD,CONDIVICTIMA,TIPOACCIDENTE,MEDIOTRANS,ESTRECON,VEHICHOQUE
0,Región Cibao Norte,Espaillat,Sábado,Enero,2007,18:01-20:00,No declarada,Hombres,20-24,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,8
1,Región Cibao Norte,Espaillat,Domingo,Enero,2007,00:01-02:00,Carretera,Hombres,55-59,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,1
2,Región Cibao Norte,Espaillat,Jueves,Febrero,2007,20:01-22:00,Carretera,Hombres,15-19,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,1
3,Región Cibao Norte,Espaillat,Lunes,Febrero,2007,10:01-12:00,No declarada,Hombres,0-4,No declarada,Atropellamiento,Peatón atropellado,,
4,Región Cibao Norte,Espaillat,Jueves,Marzo,2007,18:01-20:00,Carretera,Hombres,20-24,No declarada,Choque o colisión,"Motocicleta, ciclomotor (passola)",,4

In [28]:
f.exploracion_dataframe(df_llena)

El número de datos es 31351 y el de columnas es 14

 .....................

Los duplicados que tenemos en el conjunto de datos son: 682

 .....................

Los nulos que tenemos en el conjunto de datos son:

Empty DataFrame
Columns: [%_nulos]
Index: []

 .....................

Los tipos de las columnas son:

              tipo_dato
REGION           object
PROVINCIA        object
DIASEMANA        object
MESOCU           object
ANOOCU            int64
RHORA            object
TVIA             object
SEXO             object
GRUPOEDAD        object
CONDIVICTIMA     object
TIPOACCIDENTE    object
MEDIOTRANS       object
ESTRECON         object
VEHICHOQUE       object

 .....................

Los valores que tenemos para las columnas categóricas son:
La columna REGION tiene los siguientes valores únicos:

                       count
REGION
Región Ozama            6377
Región Cibao Norte      4644
Región Cibao Sur        3826
Región Valdesia         3489
Región Yuma             2951
Región Cibao Nordeste   2926
Región El Valle         2111
Región Higuamo          2056
Región Cibao Noroeste   1775
Región Enriquillo       1191
No declarada               5

La columna PROVINCIA tiene los siguientes valores únicos:

                         count
PROVINCIA
Santo Domingo             4776
San Cristóbal             2373
Santiago                  2325
La Vega                   2168
La Altagracia             1919
Distrito Nacional         1601
Puerto Plata              1393
Duarte                    1186
Monseñor Nouel            1073
San Pedro de Macorís      1061
Azua                      1009
San Juan                   969
Espaillat                  926
Peravia                    910
María Trinidad. Sánchez    746
Valverde                   742
Monte Plata                728
La Romana                  707
Samaná                     606
Barahona                   598
Sánchez Ramírez            585
Monte Cristi               535
Hermanas Mirabal           388
Baoruco                    334
El Seibo                   325
Dajabón                    294
Hato Mayor                 267
San José de Ocoa           206
Santiago Rodríguez         204
Independencia              167
Elías Piña                 133
Pedernales                  92
No declarada                 5

La columna DIASEMANA tiene los siguientes valores únicos:

           count
DIASEMANA
Domingo     7943
Sábado      5112
Lunes       5023
Viernes     3628
Jueves      3343
Martes      3254
Miércoles   3048

La columna MESOCU tiene los siguientes valores únicos:

            count
MESOCU
Diciembre    3151
Marzo        2688
Julio        2686
Enero        2675
Octubre      2658
Noviembre    2605
Abril        2560
Febrero      2551
Mayo         2537
Agosto       2469
Junio        2427
Septiembre   2344

La columna RHORA tiene los siguientes valores únicos:

              count
RHORA
18:01-20:00    3779
20:01-22:00    3600
16:01-18:00    2973
10:01-12:00    2581
14:01-16:00    2500
22:01-24:00    2442
00:01-02:00    2432
08:01-10:00    2354
12:01-14:00    2327
06:01-08:00    2265
02:01-04:00    1921
04:01-06:00    1711
No declarada    466

La columna TVIA tiene los siguientes valores únicos:

                count
TVIA
Carretera       13836
Calle            6042
Avenida          4613
Autopista        4530
No declarada     1533
Autovía           340
Bulevar           156
Puente            128
Camino vecinal     83
Elevado            35
Otras              33
Cruce              11
Tunel               8
Vía férrea          3

La columna SEXO tiene los siguientes valores únicos:

              count
SEXO
Hombres       27389
Mujeres        3891
No declarado     71

La columna GRUPOEDAD tiene los siguientes valores únicos:

              count
GRUPOEDAD
No declarado   8134
20-24          4017
25-29          2974
15-19          2800
30-34          2365
35-39          1996
65 y más       1756
40-44          1599
45-49          1372
50-54          1291
55-59           995
60-64           862
10-14           465
0-4             368
5-9             357

La columna CONDIVICTIMA tiene los siguientes valores únicos:

              count
CONDIVICTIMA
No declarada  13132
Conductor     12600
Pasajero       2824
Peatón         2795

La columna TIPOACCIDENTE tiene los siguientes valores únicos:

                     count
TIPOACCIDENTE
Choque o colisión    17915
Atropellamiento       5779
Deslizamiento         5216
Estrellamiento        1282
Vuelco o vuelcadura    849
Caída                  277
Aplastamiento           18
No declarado            12
Otros                    3

La columna MEDIOTRANS tiene los siguientes valores únicos:

                                   count
MEDIOTRANS
Motocicleta, ciclomotor (passola)  19981
Peatón atropellado                  5775
Automóvil (carro)                   2077
Yipeta, yip                          930
Camión                               831
Camioneta                            723
No declarado                         364
Autobús                              264
Minibús, miniván                     194
Bicicleta                             82
Otros                                 53
Tractor                               19
Animal                                11
Patana                                10
Furgoneta                              6
Vehículo le cayó encima                6
Ambulancia                             6
Triciclo                               5
Volteo                                 3
Excavadora                             3
Pala mecánica                          2
Carreta                                2
Grúa                                   2
Rodillo                                1
Gredar                                 1

La columna ESTRECON tiene los siguientes valores únicos:

          count
ESTRECON
          24843
26         5224
2           534
6           170
1           151
99          123
5           109
16           43
3            37
8            28
14           27
11           14
9            14
13           13
10           12
12            5
4             2
7             1
15            1

La columna VEHICHOQUE tiene los siguientes valores únicos:

            count
VEHICHOQUE
            11208
2            4347
99           3449
4            3124
1            2762
8            2058
26           1413
3            1281
5             696
6             371
24            296
7             209
10             26
25             21
13             17
16             14
11             12
17              8
21              8
18              8
9               7
19              6
22              5
12              2
20              2
23              1