In [2]:
# Importamos las librerías que necesitamos

# Librerías de extracción de datos
# -----------------------------------------------------------------------

%load_ext autoreload
%autoreload 2

# Importaciones:
# Beautifulsoup
from bs4 import BeautifulSoup

# Requests
import requests

import pandas as pd
import numpy as np

from time import sleep

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException # Excepciones comunes de selenium que nos podemos encontrar 

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [2]:
driver = webdriver.Chrome()
url_accidentes = "https://www.one.gob.do/datos-y-estadisticas/"
driver.get(url_accidentes)
driver.maximize_window()

sleep(1)  # Esperar un segundo entre cada scroll

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/ul/li[2]/a').click()
except:
    print('No encuentro el botón')

sleep(2)

for i in range(2):
    try:
        driver.execute_script("window.scrollBy(0, 500);")  # Desplazarse 1000 píxeles hacia abajo
    except:
        print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/header/div[2]').click()
except:
    print('No encuentro el botón para ampliar')
sleep(2)
try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/header/div[1]').click()
except:
    print('No encuentro el botón para abrir pestañas')
sleep(2)
try:
    driver.execute_script("window.scrollBy(0, 700);")
except:
    print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr[6]/td/a').click()
except:
    print('No encuentro el botón para descargar') #descargo el libro de códigos de accidentes de tráfico, lasdefunciones

try:
    driver.execute_script("window.scrollBy(0, 500);")
except:
    print('No he podido descender')

try: 
    driver.find_element("xpath", '/html/body/div[7]/section/div/div[3]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr[17]/td/a').click()
except:
    print('No encuentro el botón para descargar') #descargo las defunciones por accidentes de tráfico

# Tablas de Bases de datos

### Tabla principal

In [3]:
df_principal = pd.read_csv('C:\\Users\\DELL\\Downloads\\BD_MUERTES_ACCIDENTES_2007-2023.csv')

### Definir lo que significa cada columna

- CAUSA_M: muerte en accidente.
- REGION: region donde ocurrió.
- PROVINCIA: provincia donde ocurrió.
- DIASEMANA: día de la semana.
- MESOCU: mes.
- ANOOCU: año de ocurrencia.
- RHORA: rango de hora.
- TVIA: tipo de vía donde ocurrió.
- TIPOACCIDENTE: tipo de accidente.
- SALDOTRAG: salgo trágico.
- MEDIOTRANS: medio de transporte.
- VEHICHOQUE: vehículo con el que chocó.

In [7]:
df_principal.head()

,CAUSA_M,REGION,PROVINCIA,DIASEMANA,MESOCU,ANOOCU,RHORA,TVIA,SEXO,GRUPOEDAD,CONDIVICTIMA,TIPOACCIDENTE,MEDIOTRANS,ESTRECON,VEHICHOQUE,VEHICUVOLC,VEHICUATRO,VEHICAIDA,VEHIDESLI,APLASTAM,OTROACCIDEN
0,V01-V99,1,9,6,1,2007,10,99,1,5,9,1,2,,8,,,,,,
1,V01-V99,1,9,7,1,2007,1,4,1,12,9,1,2,,1,,,,,,
2,V01-V99,1,9,4,2,2007,11,4,1,4,9,1,2,,1,,,,,,
3,V01-V99,1,9,1,2,2007,6,99,1,1,9,3,25,,,,3,,,,
4,V01-V99,1,9,4,3,2007,10,4,1,5,9,1,2,,4,,,,,,

In [8]:
df_principal['CAUSA_M'].value_counts()

CAUSA_M
V01-V99    31351
Name: count, dtype: int64

### Tablas secundarias

In [9]:
driver = webdriver.Chrome()
url_defunciones = "file:///C:/Users/DELL/Downloads/Libro%20de%20c%C3%B3digos%20de%20defunciones%20en%20accidentes%20de%20tr%C3%A1nsito%202007_2023.htm"
driver.get(url_defunciones)
driver.maximize_window()

sleep(1)  # Esperar un segundo entre cada scroll

In [10]:
sopa_defunciones = BeautifulSoup(driver.page_source)

In [11]:
lista_tablas = sopa_defunciones.findAll('div', {'class': 'itemBody'})

In [12]:
lista_tablas[0]

<div class="itemBody">
<table aria-label="CAUSA_M" class="Default PivotTable" data-col-labels="Valor" data-collabelheight="1" data-column-dimension="Valores;" data-decimal-char="." data-layer-dimension="" data-lookname="Default" data-maxcolwidth="72" data-numcols="1" data-numrows="3" data-row-dimension="Atributos;" data-row-labels="Atributos estándar Etiqueta; Formato;Valores válidos V01-V99" data-rowlabels="Corner" data-rowlabelwidth="2" role="complementary" style="width:280px" summary="CAUSA_M, tabla, 1 niveles de cabeceras de columna y 2 niveles de cabeceras de fila, tabla con 3 columnas y 5 filas">
<caption class="title" style="width:280px">CAUSA_M<span class="details">CAUSA_M, tabla, 1 niveles de cabeceras de columna y 2 niveles de cabeceras de fila, tabla con 3 columnas y 5 filas</span></caption>
<tbody class="PivotBody defaultLayer innerFrameBd">
<tr>
<td class="cornerLabels" colspan="2"> </td>
<td class="columnLabels dataAreaLeft vCC role3">Valor</td>
</tr>
<tr>
<td class="rowLabels dataAreaTop role2" rowspan="2">Atributos estándar</td>
<td class="rowLabels dataAreaTop vCR role3">Etiqueta</td>
<td class="e dataAreaTop dataAreaLeft vCC" style="text-align:left;">Muerte en accidente de tráfico</td>
</tr>
<tr>
<td class="rowLabels hCR vCR role3">Formato</td>
<td class="o dataAreaLeft hCR vCC" style="text-align:left;">A7</td>
</tr>
<tr>
<td class="rowLabels hCR role2">Valores válidos</td>
<td class="rowLabels hCR vCR role3">V01-V99</td>
<td class="e dataAreaLeft hCR vCC" style="text-align:left;">Muerte en accidente de tránsito terrestre</td>
</tr>
<tr>
<td style="width:119px;padding:0px;border-spacing:0px"></td>
<td style="width:65px;padding:0px;border-spacing:0px"></td>
<td style="width:96px;padding:0px;border-spacing:0px"></td>
</tr>
</tbody>
</table>
</div>

In [90]:
dataframes = []

# Iterar sobre cada tabla en la lista
for i, tabla in enumerate(lista_tablas):
    # Extraer las filas (tr) dentro de cada tabla
    rows = tabla.find_all('tr')

    # Extraer los datos de las celdas
    data = []
    for row in rows:
        cells = row.find_all('td')
        data.append([cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)])

    # Crear un DataFrame con los datos
    df = pd.DataFrame(data)

    # Guardar el DataFrame en la lista
    dataframes.append(df)

    # # Si quieres guardar cada DataFrame como CSV:
    # df.to_csv(f'tabla_{i}.csv', index=False)

# Ver cuántos DataFrames se generaron
print(f"Se generaron {len(dataframes)} DataFrames.")

Se generaron 21 DataFrames.

In [91]:
type(dataframes)

list

In [92]:
df_region = dataframes[1]
df_provincia = dataframes[2]
df_diasem = dataframes[3]
df_mes = dataframes[4]
df_anio = dataframes[5]
df_rhora = dataframes[6]
df_tipovia = dataframes[7]
df_genero = dataframes[8]
df_gedad = dataframes[9]
df_victima = dataframes[10]
df_accidente = dataframes[11]
df_mediot = dataframes[12]
df_estrello = dataframes[13]
df_vehichoque = dataframes[14]

In [93]:
dataframes_list = [
    df_region, df_provincia, df_diasem, df_mes, df_anio, df_rhora,
    df_tipovia, df_genero, df_gedad, df_victima, df_accidente,
    df_mediot, df_estrello, df_vehichoque
]

for i, df in enumerate(dataframes_list):
    # Recortar las filas a partir de la fila 3
    df = df.iloc[3:]
    
    # Mover el valor de la columna 2 a la columna 1 en la primera fila
    df.iloc[0, 1] = df.iloc[0, 2]
    df.iloc[0,0] = 1
    
    # Seleccionar solo la columna 1
    df = df[[0,1]]
    df = df[:-1]
    df.columns = ['Valor', 'Significado']
    
    # Reiniciar el índice
    df.reset_index(drop=True, inplace=True)
    
    # Guardar el DataFrame transformado de nuevo en la lista
    dataframes_list[i] = df

# Asignar los DataFrames de vuelta a sus variables
df_region, df_provincia, df_diasem, df_mes, df_anio, df_rhora, \
df_tipovia, df_genero, df_gedad, df_victima, df_accidente, \
df_mediot, df_estrello, df_vehichoque = dataframes_list