In [115]:
# Importamos las librerías que necesitamos

# Librerías de extracción de datos
# -----------------------------------------------------------------------

%load_ext autoreload
%autoreload 2

# Importaciones:
# Beautifulsoup
from bs4 import BeautifulSoup

# Requests
import requests

import pandas as pd
import numpy as np

from time import sleep

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException # Excepciones comunes de selenium que nos podemos encontrar

In [88]:
driver = webdriver.Chrome()
url_pvehicular = "https://dgii.gov.do/estadisticas/parquevehicular/Paginas/default.aspx"
driver.get(url_pvehicular)
driver.maximize_window()

sleep(1)  # Esperar un segundo entre cada scroll
#descargo el excel completo
try: 
    driver.find_element("xpath", '/html/body/form/div[4]/div/div/div/div[2]/span/div[1]/div/div/div[2]/div/div[2]/div/div[1]/div[1]/div/div[1]/div/div/div/div/ul/li[1]/a/div/div[2]').click()
except:
    print('No encuentro el botón para descargar')

for i in range(3):
    try:
        driver.execute_script("window.scrollBy(0, 500);")  # Desplazarse 1000 píxeles hacia abajo
    except:
        print('No he podido descender')
# descargo el excel de lo que va de año
driver.find_element('xpath', '/html/body/form/div[4]/div/div/div/div[2]/span/div[1]/div/div/div[2]/div/div[2]/div/div[2]/div/div/div[1]/div/div/div/div/ul/li[1]/a/div').click()

# Registro Histórico del Parque Vehicular

## Registro hasta diciembre del 2023

In [66]:
df_2023 = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023\\ParqueVehicular2023.xlsx', sheet_name='2.3.1', skiprows=11, index_col=0)

In [67]:
df_2023.reset_index(drop=True, inplace=True)

In [68]:
df_2023.head()

,Provincia,Tipo de Vehículo,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Total,Total %
0,NaN,Automóviles,Autobuses,Jeep,Carga,Motocicletas,Volteo,Máquinas Pesadas,Otros,NaN,NaN
1,Azua,7641,1352,4935,6559,52576,341,129,129,73662.0,1.267655
2,Bahoruco,2288,388,1326,1114,11407,97,22,25,16667.0,0.286824
3,Barahona,6637,1081,5175,3916,44324,262,78,208,61681.0,1.061473
4,Dajabón,2515,222,2421,2290,26624,114,129,57,34372.0,0.591510

In [69]:
# Renombrar las columnas manualmente
df_2023.columns = [
    "Provincia", 
    "Automóviles", 
    "Autobuses", 
    "Jeep", 
    "Carga", 
    "Motocicletas", 
    "Volteo", 
    "Máquinas Pesadas", 
    "Otros", 
    "Total", 
    "Total %"
]

df_2023 = df_2023.iloc[1:]

In [70]:
df_2023 = df_2023.iloc[:33]

In [75]:
df_2023.reset_index(drop=True, inplace=True)

In [76]:
df_2023.head()

,Provincia,Automóviles,Autobuses,Jeep,Carga,Motocicletas,Volteo,Máquinas Pesadas,Otros,Total,Total %
0,Azua,7641,1352,4935,6559,52576,341,129,129,73662.0,1.267655
1,Bahoruco,2288,388,1326,1114,11407,97,22,25,16667.0,0.286824
2,Barahona,6637,1081,5175,3916,44324,262,78,208,61681.0,1.061473
3,Dajabón,2515,222,2421,2290,26624,114,129,57,34372.0,0.591510
4,Distrito Nacional,446535,49784,227089,208389,772371,9328,12329,11920,1737745.0,29.904982

## Registro 2024

## Histórico

In [80]:
df_historico = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023\\ParqueVehicular2023.xlsx', sheet_name='Serie Histórica', skiprows=5, index_col=0)

In [81]:
df_historico.head()

,Tipo,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,2014.0,2014.0,2014.0
NaN,Automóviles1/,560880.0,575386.0,602291.0,630115.0,645258.0,661747.0,678732.0,697180.0,717087.0,741583.0,773019.0,816470.0,865186.0,909420.0,956994.0,994301.0,1045414.0,1085675.0,1122336.0
NaN,Autobuses,56591.0,58809.0,62927.0,67153.0,69987.0,73716.0,76300.0,78888.0,81660.0,84772.0,88109.0,92144.0,96473.0,101149.0,107147.0,111891.0,117803.0,123344.0,130691.0
NaN,Jeep,124802.0,144351.0,177871.0,206314.0,228187.0,252881.0,274810.0,293901.0,312170.0,332788.0,357028.0,386706.0,419442.0,449918.0,487157.0,516912.0,569102.0,621291.0,678470.0
NaN,Carga 2/,276492.0,286640.0,304978.0,320348.0,331120.0,344051.0,355337.0,363439.0,372238.0,381389.0,392395.0,405292.0,418573.0,431109.0,446833.0,458762.0,477365.0,497352.0,521278.0

In [86]:
df_historico = df_historico.iloc[1:10,:]

In [87]:
df_historico.reset_index(drop=True, inplace=True)
df_historico.head()

,Tipo,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Automóviles1/,560880.0,575386.0,602291.0,630115.0,645258.0,661747.0,678732.0,697180.0,717087.0,741583.0,773019.0,816470.0,865186.0,909420.0,956994.0,994301.0,1045414.0,1085675.0,1122336.0
1,Autobuses,56591.0,58809.0,62927.0,67153.0,69987.0,73716.0,76300.0,78888.0,81660.0,84772.0,88109.0,92144.0,96473.0,101149.0,107147.0,111891.0,117803.0,123344.0,130691.0
2,Jeep,124802.0,144351.0,177871.0,206314.0,228187.0,252881.0,274810.0,293901.0,312170.0,332788.0,357028.0,386706.0,419442.0,449918.0,487157.0,516912.0,569102.0,621291.0,678470.0
3,Carga 2/,276492.0,286640.0,304978.0,320348.0,331120.0,344051.0,355337.0,363439.0,372238.0,381389.0,392395.0,405292.0,418573.0,431109.0,446833.0,458762.0,477365.0,497352.0,521278.0
4,Motocicletas,843941.0,866236.0,1047541.0,1164259.0,1252713.0,1352720.0,1481255.0,1566815.0,1678979.0,1803328.0,1946594.0,2096196.0,2238671.0,2398511.0,2573494.0,2695457.0,2874590.0,3063704.0,3281018.0

## Registro del 2024

In [106]:
df_actual = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2024\\Parque Vehicular.xlsx', sheet_name='Stock vehiculos', skiprows=9)

In [107]:
df_actual

,Tipo de Vehículo,Cantidad a diciembre 2023*,Año 2024,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre
1,Ambulancia,1630.0,1649,1657,1659,1664,1672,1683,1689,1689,1691,1705,1707
2,Autobús Privado,124611.0,125118,125778,126429,127113,127921,128468,129217,129769,130629,131633,132244
3,Autobús Público Interurbano,3646.0,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646
4,Autobús Público Urbano,1305.0,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305
5,Autobús Turístico,1129.0,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128
6,Automóvil Interurbano (Público),10540.0,10539,10539,10539,10539,10539,10539,10539,10539,10539,10539,10539
7,Automóvil Privado,1092385.0,1095685,1098819,1102125,1105354,1108669,1111637,1114493,1116692,1119329,1122886,1125693
8,Automóvil Público Urbano,17633.0,17625,17625,17625,17625,17625,17625,17625,17625,17625,17625,17625
9,Automóvil Turístico,1778.0,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775
10,Carga,521278.0,523345,525553,528386,530526,532948,534904,537259,538901,540776,543462,545902
11,Fúnebre,314.0,315,317,320,323,324,324,327,330,330,330,330
12,Jeep,678470.0,684073,688971,694509,698985,703583,708169,712810,716309,720560,726642,731357
13,Maquina Pesada,27582.0,27881,27949,28013,28099,28196,28285,28328,28366,28420,28461,28486
14,Montacarga,1243.0,1261,1269,1274,1283,1312,1322,1325,1329,1335,1344,1349
15,Motocicleta,3281018.0,3299957,3314934,3333474,3358792,3385627,3410984,3428109,3437184,3455259,3485460,3509088
16,Remolque,20781.0,20935,21041,21155,21240,21342,21461,21552,21673,21737,21820,21917
17,Volteo,25545.0,25657,25740,25862,25982,26121,26317,26441,26524,26634,26765,26897
18,Total,5810888.0,5841894,5868046,5899224,5935379,5973733,6009572,6037568,6054784,6082718,6126526,6160988
19,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,* Con fecha de corte 04 de enero del 2023.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Datos sujetos a rectificación por cambios regi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Datos actualizados el 04 de diciembre del 2024.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Fuente: Gerencia de Estudios Económicos y Trib...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df_actual = df_actual.iloc[1:18]

In [109]:
df_actual

,Tipo de Vehículo,Cantidad a diciembre 2023*,Año 2024,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,Ambulancia,1630.0,1649,1657,1659,1664,1672,1683,1689,1689,1691,1705,1707
2,Autobús Privado,124611.0,125118,125778,126429,127113,127921,128468,129217,129769,130629,131633,132244
3,Autobús Público Interurbano,3646.0,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646
4,Autobús Público Urbano,1305.0,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305
5,Autobús Turístico,1129.0,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128
6,Automóvil Interurbano (Público),10540.0,10539,10539,10539,10539,10539,10539,10539,10539,10539,10539,10539
7,Automóvil Privado,1092385.0,1095685,1098819,1102125,1105354,1108669,1111637,1114493,1116692,1119329,1122886,1125693
8,Automóvil Público Urbano,17633.0,17625,17625,17625,17625,17625,17625,17625,17625,17625,17625,17625
9,Automóvil Turístico,1778.0,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775
10,Carga,521278.0,523345,525553,528386,530526,532948,534904,537259,538901,540776,543462,545902
11,Fúnebre,314.0,315,317,320,323,324,324,327,330,330,330,330
12,Jeep,678470.0,684073,688971,694509,698985,703583,708169,712810,716309,720560,726642,731357
13,Maquina Pesada,27582.0,27881,27949,28013,28099,28196,28285,28328,28366,28420,28461,28486
14,Montacarga,1243.0,1261,1269,1274,1283,1312,1322,1325,1329,1335,1344,1349
15,Motocicleta,3281018.0,3299957,3314934,3333474,3358792,3385627,3410984,3428109,3437184,3455259,3485460,3509088
16,Remolque,20781.0,20935,21041,21155,21240,21342,21461,21552,21673,21737,21820,21917
17,Volteo,25545.0,25657,25740,25862,25982,26121,26317,26441,26524,26634,26765,26897

In [110]:
df_actual.shape

(17, 13)

In [113]:
df_actual.columns = [
    'Tipo_Vehiculo',
    "Diciembre_2023", 
    "Enero", 
    "Febrero", 
    "Marzo", 
    "Abril", 
    "Mayo", 
    "Junio", 
    "Julio", 
    "Agosto", 
    "Septiembre", 
    "Octubre", 
    'Noviembre'
]

In [114]:
df_actual.head()

,Tipo_Vehiculo,Diciembre_2023,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre
1,Ambulancia,1630.0,1649,1657,1659,1664,1672,1683,1689,1689,1691,1705,1707
2,Autobús Privado,124611.0,125118,125778,126429,127113,127921,128468,129217,129769,130629,131633,132244
3,Autobús Público Interurbano,3646.0,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646
4,Autobús Público Urbano,1305.0,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305
5,Autobús Turístico,1129.0,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128